<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "RxEx" %></h1>
  <p>Prescription Drug Delivery</p>
</section>

<section class="row">
  <article class="column">
    <h2>Orders</h2>
    <ul>
      <li>
        <%= link "View Orders", to: Routes.order_path(@conn, :index) %>
      </li>
    </ul>
  </article>
</section>
