<h1>Select Courier</h1>

<%= form_for @courier_changeset, Routes.user_settings_path(@conn, :update_courier), fn f -> %>
<%= if @courier_changeset.action do %>
<div class="alert alert-danger">
  <p>Oops, something went wrong! Please check the errors below.</p>
</div>
<% end %>

<%= hidden_input f, :action, name: "action", value: "update_courier" %>

<%= label f, :courier_id %>
<%= select f, :courier_id,  @options %>
<%= error_tag f, :courier_id %>

<div>
  <%= submit "Select Courier" %>
</div>
<% end %>
