<h1>Select Pharmacy</h1>

<%= form_for @pharmacy_changeset, Routes.user_settings_path(@conn, :update_pharmacy), fn f -> %>
<%= if @pharmacy_changeset.action do %>
<div class="alert alert-danger">
  <p>Oops, something went wrong! Please check the errors below.</p>
</div>
<% end %>

<%= hidden_input f, :action, name: "action", value: "update_pharmacy" %>

<%= label f, :pharmacy_id %>
<%= select f, :pharmacy_id,  @options %>
<%= error_tag f, :pharmacy_id %>

<div>
  <%= submit "Select Pharmacy" %>
</div>
<% end %>
