<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :name %>
  <%= text_input f, :name %>
  <%= error_tag f, :name %>

  <%= label f, :address %>
  <%= text_input f, :address %>
  <%= error_tag f, :address %>

  <%= label f, :city %>
  <%= text_input f, :city %>
  <%= error_tag f, :city %>

  <%= label f, :state %>
  <%= text_input f, :state %>
  <%= error_tag f, :state %>

  <%= label f, :zip %>
  <%= text_input f, :zip %>
  <%= error_tag f, :zip %>

  <%= label f, :pickup_date %>
  <%= datetime_select f, :pickup_date %>
  <%= error_tag f, :pickup_date %>

  <%= hidden_input f, :pharmacy_id, value: @conn.assigns.current_user.pharmacy_id %>

  <div>
    <%= submit "Save" %>
  </div>
<% end %>
