<h1>Listing Orders</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Pickup date</th>
      <th>Delivery date</th>
      <%= if @conn.assigns.current_user.role == "courier" do %>
      <th>Pharmacy</th>
      <% end %>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for order <- @orders do %>
    <tr>
      <td><%= order.name %></td>
      <td><%= order.address %></td>
      <td><%= order.city %></td>
      <td><%= order.state %></td>
      <td><%= order.zip %></td>
      <td><%= order.pickup_date %></td>
      <td><%= order.delivery_date %></td>
      <%= if @conn.assigns.current_user.role == "courier" do %>
      <td><%= order.pharmacy.name %></td>
      <% end %>
      <td>
        <%= if @conn.assigns.current_user.role == "pharmacist" do %>
        <span><%= link "Edit", to: Routes.order_path(@conn, :edit, order) %></span>
        <span><%= link "Cancel", to: Routes.order_path(@conn, :delete, order), method: :delete, data: [confirm: "Are you sure?"] %></span>
        <% end %>
        <%= if @conn.assigns.current_user.role == "courier" do %>
        <span><%= link "Mark Delivered", to: Routes.order_path(@conn, :mark_delivered, order) %></span>
        <% end %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= if @conn.assigns.current_user.role == "pharmacist" do %>
<span><%= link "New Order", to: Routes.order_path(@conn, :new) %></span>
<% end %>
